<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Ange d'Avila ASSOKO</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="static/assets/css/main.css">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Ange d'Avila ASSOKO</h1>
						<p>Développeur Web et Mobile - FullStack</p>
						<nav>
							<ul>
								<li><a href="https://www.linkedin.com/in/ange-d-avila-assoko-9b001165?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BETyKxoPkSguhCilpPmbQ7A%3D%3D" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
								
								
								
								<li><a href="mailto:davilaassoko@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">© Ange d'Avila Assoko 2022</span></footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	
</body></html>